#! /usr/bin/env python

PACKAGE='youbot_base_align_dock'
try:
    import imp
    imp.find_module(PACKAGE)
    from dynamic_reconfigure.parameter_generator_catkin import *
except:
    import roslib; roslib.load_manifest(PACKAGE)
    from dynamic_reconfigure.parameter_generator import *

gen = ParameterGenerator()

gen.add("timeout",  double_t,    0, "timeout", 60, 0, 120)

exit(gen.generate(PACKAGE, "youbot_base_align_dock", "Controller"))
