#! /usr/bin/env python

PACKAGE='aricc_2d_vision'
try:
    import imp
    imp.find_module(PACKAGE)
    from dynamic_reconfigure.parameter_generator_catkin import *
except:
    import roslib; roslib.load_manifest(PACKAGE)
    from dynamic_reconfigure.parameter_generator import *

gen = ParameterGenerator()

gen.add("threshold",  double_t, 0, "threshold for white pixel", 0, 0, 1)

exit(gen.generate(PACKAGE, "aricc_2d_vision", "RTTImage"))
