#! /usr/bin/env python

PACKAGE='aricc_2d_vision'
try:
    import imp
    imp.find_module(PACKAGE)
    from dynamic_reconfigure.parameter_generator_catkin import *
except:
    import roslib; roslib.load_manifest(PACKAGE)
    from dynamic_reconfigure.parameter_generator import *

gen = ParameterGenerator()
method_enum = gen.enum([
 gen.const("HomogeneousBlur", int_t, 0, "HomogeneousBlur"),
 gen.const("GaussianBlur", int_t, 1, "GaussianBlur"),
 gen.const("MedianBlur", int_t, 1, "MedianBlur")],"method")

gen.add("method", int_t, 0, "method", 0, 0, 1, edit_method=method_enum)
gen.add("kernel_size", int_t, 0, "kernel size", 0, 0, 100)

exit(gen.generate(PACKAGE, "aricc_2d_vision", "SmoothingImage"))
