<?xml version="1.0"?>
<launch>
  <arg name="nodelet_manager" default="aricc_nodelet_manager"/>
  <arg name="rgb_image" default="/softkinetics_camera_ros/rgb/image"/>
  <arg name="depth_image" default="/softkinetics_camera_ros/depth/image"/>
  <arg name="rgb_camera_info" default="/softkinetics_camera_ros/rgb/camera_info"/>
  <arg name="depth_camera_info" default="/softkinetics_camera_ros/depth/camera_info"/>
  <arg name="group_name" default="youbot_2d_vision"/>
  <arg name="pl_1" default="object_detect_"/>
  <arg name="pl_2" default="rtt_detect_"/>
  
  <!--include file="$(find softkinetics_camera_ros)/launch/softkinetics.launch" /-->


<!-- Object detection -->

<group ns="$(arg group_name)">

  <node pkg="nodelet" type="nodelet" name="$(arg nodelet_manager)" args="manager" output="screen"/>

  <node pkg="nodelet" type="nodelet" name="$(arg pl_1)RectToMaskImage"
        args="load aricc_2d_vision/RectToMaskImage $(arg nodelet_manager)">
    <remap from="~input/camera_info" to="$(arg rgb_camera_info)" />
    <rosparam>
      left_top_x: 0
      left_top_y: 0
      width: 640
      height: 480
    </rosparam>
  </node>
  
  <node pkg="nodelet" type="nodelet" name="$(arg pl_1)ApplyMaskImage"
        args="load aricc_2d_vision/ApplyMaskImage $(arg nodelet_manager)">
    <remap from="~input" to="$(arg rgb_image)" />
    <!--remap from="~input/mask" to="/RectToMaskImage/output" /-->
    <remap from="~input/mask" to="/$(arg group_name)/$(arg pl_1)RectToMaskImage/output" />
    <rosparam>
      approximate_sync: true
    </rosparam>
  </node>

  <node pkg="nodelet" type="nodelet" name="$(arg pl_1)SmoothingImage"
        args="load aricc_2d_vision/SmoothingImage $(arg nodelet_manager)">
    <remap from="~input" to="/$(arg group_name)/$(arg pl_1)ApplyMaskImage/output" />
    <rosparam>
      method: 1
      kernel_size: 2
    </rosparam>
  </node>

  <node pkg="nodelet" type="nodelet" name="$(arg pl_1)CreateThresholdImage"
        args="load aricc_2d_vision/CreateThresholdImage $(arg nodelet_manager)">
    <remap from="~input" to="/$(arg group_name)/$(arg pl_1)SmoothingImage/output" />
    <rosparam>
      method: 1
      block_size: 48
      constant: 13
    </rosparam>
  </node>
  
  <node pkg="nodelet" type="nodelet" name="$(arg pl_1)UnapplyMaskImage"
        args="load aricc_2d_vision/UnapplyMaskImage $(arg nodelet_manager)">
    <remap from="~input" to="/$(arg group_name)/$(arg pl_1)CreateThresholdImage/output" />
    <remap from="~input/mask" to="/$(arg group_name)/$(arg pl_1)RectToMaskImage/output" />
    <rosparam>
      approximate_sync: true
    </rosparam>
  </node>

  <node pkg="nodelet" type="nodelet" name="$(arg pl_1)EdgeFinder"
        args="load aricc_2d_vision/EdgeFinder $(arg nodelet_manager)">
    <remap from="~input" to="/$(arg group_name)/$(arg pl_1)UnapplyMaskImage/output" />
    <rosparam>
      kernel_size: 3
    </rosparam>
  </node>
  
  <node pkg="nodelet" type="nodelet" name="$(arg pl_1)DilateImage"
        args="load aricc_2d_vision/DilateImage $(arg nodelet_manager)">
    <remap from="~input" to="/$(arg group_name)/$(arg pl_1)EdgeFinder/output" />
    <rosparam>

    </rosparam>
  </node>
  

  <node pkg="nodelet" type="nodelet" name="$(arg pl_1)ContourFinder"
        args="load aricc_2d_vision/ContourFinder $(arg nodelet_manager)">
    <remap from="~input" to="/$(arg group_name)/$(arg pl_1)DilateImage/output" />
    <rosparam>
      noise_size: 100
      min_size: 500
      min_dist: 100
      epsilon: 3
      close: false
      debug: true
    </rosparam>
  </node>
  
  <node pkg="nodelet" type="nodelet" name="$(arg pl_1)RotatedRectFinder"
        args="load aricc_2d_vision/RotatedRectFinder $(arg nodelet_manager)">
    <remap from="~input/contour" to="/$(arg group_name)/$(arg pl_1)ContourFinder/output/convex" />
    <remap from="~input/rgb_image" to="$(arg rgb_image)" />
    <remap from="~input/threshold_image" to="/$(arg group_name)/$(arg pl_1)UnapplyMaskImage/output" />
    <remap from="~input/image_info" to="$(arg rgb_camera_info)" />
    <rosparam>
      approximate_sync: true
      debug: true
      detect_color: true
      detect_density: true
      z: 0.20
    </rosparam>
  </node>
  
  <node pkg="nodelet" type="nodelet" name="$(arg pl_1)ObjectDetection"
        args="load aricc_2d_vision/RectBasedObjectDetection $(arg nodelet_manager)">
    <remap from="~input/rects" to="/$(arg group_name)/$(arg pl_1)RotatedRectFinder/output/projected_rects" />
    <remap from="~input/image" to="$(arg rgb_image)" />
    <remap from="~input/image_info" to="$(arg rgb_camera_info)" />
    <remap from="/$(arg group_name)/$(arg pl_1)ObjectDetection/output" to="/$(arg group_name)/object/output" />    
    <rosparam command="load" file="$(find aricc_rcwork_task)/config/objects.yaml" />
    <rosparam>
      approximate_sync: true
      width_tolerance: 0.01
      height_tolerance: 0.01
      color_h_tol: 255
      color_s_tol: 20
      color_v_tol: 20
      density_tolerance: 255
      list_title: objects
      debug: true
    </rosparam>
  </node>

  <!-- 		Occupy Detection 	-->
  <node pkg="nodelet" type="nodelet" name="$(arg pl_2)RectToMaskImage"
        args="load aricc_2d_vision/RectToMaskImage $(arg nodelet_manager)">
    <remap from="~input/camera_info" to="$(arg rgb_camera_info)" />
    <rosparam>
      left_top_x: 140
      left_top_y: 0
      width: 640
      height: 370
    </rosparam>
  </node>

  <node pkg="nodelet" type="nodelet" name="$(arg pl_2)ApplyMaskImage"
        args="load aricc_2d_vision/ApplyMaskImage $(arg nodelet_manager)">
    <remap from="~input" to="$(arg rgb_image)" />
    <remap from="~input/mask" to="/$(arg group_name)/$(arg pl_2)RectToMaskImage/output" />
    <rosparam>
      approximate_sync: false
    </rosparam>
  </node>
  
  <node pkg="nodelet" type="nodelet" name="$(arg pl_2)SmoothingImage"
        args="load aricc_2d_vision/SmoothingImage $(arg nodelet_manager)">
    <remap from="~input" to="/$(arg group_name)/$(arg pl_2)ApplyMaskImage/output" />
    <rosparam>
      method: 1
      kernel_size: 3 
    </rosparam>
  </node>
  
  <node pkg="nodelet" type="nodelet" name="$(arg pl_2)CreateThresholdImage"
        args="load aricc_2d_vision/CreateThresholdImage $(arg nodelet_manager)">
    <remap from="~input" to="/$(arg group_name)/$(arg pl_2)SmoothingImage/output" />
    <rosparam>
      block_size: 132
      constant: 16
    </rosparam>
  </node>
  
  <node pkg="nodelet" type="nodelet" name="$(arg pl_2)ErodeImage"
        args="load aricc_2d_vision/ErodeImage $(arg nodelet_manager)">
    <remap from="~input" to="/$(arg group_name)/$(arg pl_2)CreateThresholdImage/output" />
    <rosparam>
      
    </rosparam>
  </node>
  <node pkg="nodelet" type="nodelet" name="$(arg pl_2)DilateImage"
        args="load aricc_2d_vision/DilateImage $(arg nodelet_manager)">
    <remap from="~input" to="/$(arg group_name)/$(arg pl_2)ErodeImage/output" />
    <rosparam>
      
    </rosparam>
  </node>

  <node pkg="nodelet" type="nodelet" name="$(arg pl_2)RTTImage"
        args="load aricc_2d_vision/RTTImage $(arg nodelet_manager)">
    <remap from="~input" to="/$(arg group_name)/$(arg pl_2)DilateImage/output" />
    <rosparam>
      threshold: 0.08
    </rosparam>
  </node>

</group>

  <!--node pkg="rqt_gui" type="rqt_gui" name="rqt_gui" /-->
</launch>

