<?xml version="1.0"?>
<launch>
  <arg name="nodelet_manager" default="aricc_nodelet_manager"/>
  <arg name="rgb_image" default="/softkinetics_camera_ros/rgb/image"/>
  <arg name="depth_image" default="/softkinetics_camera_ros/depth/image"/>
  <arg name="rgb_camera_info" default="/softkinetics_camera_ros/rgb/camera_info"/>
  <arg name="depth_camera_info" default="/softkinetics_camera_ros/depth/camera_info"/>
  
  <include file="$(find softkinetics_camera_ros)/launch/softkinetics.launch" />

  <node pkg="nodelet" type="nodelet" name="$(arg nodelet_manager)" args="manager" output="screen"/>

  <node pkg="nodelet" type="nodelet" name="RectToMaskImage"
        args="load aricc_2d_vision/RectToMaskImage $(arg nodelet_manager)">
    <remap from="~input/camera_info" to="$(arg rgb_camera_info)" />
    <rosparam>
      left_top_x: 0
      left_top_y: 55
      width: 640
      height: 330
    </rosparam>
  </node>
  
  <node pkg="nodelet" type="nodelet" name="ApplyMaskImageRGB"
        args="load aricc_2d_vision/ApplyMaskImage $(arg nodelet_manager)">
    <remap from="~input" to="$(arg rgb_image)" />
    <remap from="~input/mask" to="/RectToMaskImage/output" />
    <rosparam>
      approximate_sync: true
    </rosparam>
  </node>

  <node pkg="nodelet" type="nodelet" name="SmoothingImageRGB"
        args="load aricc_2d_vision/SmoothingImage $(arg nodelet_manager)">
    <remap from="~input" to="ApplyMaskImageRGB/output" />
    <rosparam>
      method: 1
      kernel_size: 1
    </rosparam>
  </node>

  <node pkg="nodelet" type="nodelet" name="CreateThresholdImageRGB"
        args="load aricc_2d_vision/CreateThresholdImage $(arg nodelet_manager)">
    <remap from="~input" to="/SmoothingImageRGB/output" />
    <rosparam>
      method: 1
      block_size: 15
      constant: 7
    </rosparam>
  </node>

  <node pkg="nodelet" type="nodelet" name="EdgeFinder"
        args="load aricc_2d_vision/EdgeFinder $(arg nodelet_manager)">
    <remap from="~input" to="/CreateThresholdImageRGB/output" />
    <rosparam>
      kernel_size: 3
    </rosparam>
  </node>
  
  <node pkg="nodelet" type="nodelet" name="DilateImage"
        args="load aricc_2d_vision/DilateImage $(arg nodelet_manager)">
    <remap from="~input" to="/EdgeFinder/output" />
    <rosparam>

    </rosparam>
  </node>
  
  <node pkg="nodelet" type="nodelet" name="UnapplyMaskImage"
        args="load aricc_2d_vision/UnapplyMaskImage $(arg nodelet_manager)">
    <remap from="~input" to="/DilateImage/output" />
    <remap from="~input/mask" to="/RectToMaskImage/output" />
    <rosparam>
      approximate_sync: true
    </rosparam>
  </node>

  <node pkg="nodelet" type="nodelet" name="ContourFinder"
        args="load aricc_2d_vision/ContourFinder $(arg nodelet_manager)">
    <remap from="~input" to="/UnapplyMaskImage/output" />
    <rosparam>
      noise_size: 100
      min_size: 500
      min_dist: 50
      epsilon: 3
      close: false
      debug: true
    </rosparam>
  </node>
  
  <node pkg="nodelet" type="nodelet" name="RotatedRectFinder"
        args="load aricc_2d_vision/RotatedRectFinder $(arg nodelet_manager)">
    <remap from="~input/contour" to="/ContourFinder/output/convex" />
    <remap from="~input/image" to="$(arg rgb_image)" />
    <remap from="~input/image_info" to="$(arg rgb_camera_info)" />
    <rosparam>
      approximate_sync: true
      debug: true
      detect_color: true
      z: 0.41
    </rosparam>
  </node>
  
  <node pkg="nodelet" type="nodelet" name="ObjectDetection"
        args="load aricc_2d_vision/RectBasedObjectDetection $(arg nodelet_manager)">
    <remap from="~input/rects" to="/RotatedRectFinder/output/projected_rects" />
    <remap from="~input/image" to="$(arg rgb_image)" />
    <remap from="~input/image_info" to="$(arg rgb_camera_info)" />
    <rosparam command="load" file="$(find aricc_2d_vision)/config/objects.yaml" />
    <rosparam>
      approximate_sync: true
      dist_tolerance: 0.005
      color_tolerance: 30
      debug: true
    </rosparam>
  </node>


  <node pkg="rqt_gui" type="rqt_gui" name="rqt_gui" />
</launch>

